# cat ~/.config/systemd/user/broadcast.service
[Unit]
Description=Broadcast Service
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/zczh/broadcast
ExecStart=/home/zczh/broadcast/broadcast_env/bin/python /home/zczh/broadcast/app.py
Restart=always
RestartSec=10
Environment="DISPLAY=:0"
Environment="PULSE_SERVER=unix:/run/user/%U/pulse/native"
Environment="XAUTHORITY=/home/zczh/.Xauthority"

[Install]
WantedBy=default.target